<li>
  <%= gravatar_for user, size: Settings.gavatar.size %>
  <%= link_to user.name, user %>
  <% if can_delete_user? user %>
    | <%= link_to t(".delete"), user, method: :delete, data: { confirm: t(".you_sure") } %>
  <% end %>
</li>
